*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: verdana;
}

.formcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  background-image: url(../assets/Images/form-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 700px;
}
.form-card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 1px 5px 10px black;
  padding: 10px;
  background-color: white;
}

.form-card__title {
  font-size: 20px;
  color: #335576;
  font-weight: bold;
  text-align: center;
}

.formbutton {
  color: white;
  font-size: 21px;
  font-weight: bold;
  background-color: #db7a4e;
  padding: 10px 20px;
  border-radius: 40px;
  margin-top: 30px;
}
